<extend name="Public/base"/>
<block name="style"></block>
<block name="body">
    <!-- 主体 -->
    <!--<table class="table table-striped" >
        <thead>
        <tr>
            <th >系统信息</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <volist name="info" id="v">
            <tr>
                <td class="text">{$key}：</td>
                <td class="input">{$v}</td>
            </tr>
            <tr>
                <td class="text">{$key}：</td>
                <td class="input">{$v}</td>
            </tr>
            <tr>
                <td class="text">{$key}：</td>
                <td class="input">{$v}</td>
            </tr>
        </volist>
        </tbody>
    </table>-->
<!--<div class="row">
    <div class="col-xs-6 col-md-3">-->
        <div class="jumbotron">
            <div class="container">
                <h2>VR周边网站即将上线!<span class="label label-success label">New</span></h2>
                <p style="color:#666">2015-5-10 12:23:20</p>
                <p><img src="__STATIC__/slider/images/01.jpg"></p>
                <p>　　VR（Virtual Reality，即虚拟现实，简称VR），是由美国VPL公司创建人拉尼尔（Jaron Lanier）在20世纪80年代初提出的。
                其具体内涵是：综合利用计算机图形系统和各种现实及控制等接口设备，在计算机上生成的、可交互的三维环境中提供沉浸感觉的技术。
                其中，计算机生成的、可交互的三维环境成为虚拟环境（即Virtual Environment，简称VE）。
                虚拟现实技术实现的载体是虚拟现实仿真平台，即（Virtual Reality Platform，简称VRP）。</p>
                <p><a class="btn btn-success" href="#" role="button">阅读更多..</a></p>
            </div>
        </div>

    <div class="jumbotron">
        <div class="container">
            <h2>VR周边网站即将上线!</h2>
            <p style="color:#666">2015-5-10 12:23:20</p>
            <p><img src="__STATIC__/slider/images/01.jpg"></p>
            <p>　　VR（Virtual Reality，即虚拟现实，简称VR），是由美国VPL公司创建人拉尼尔（Jaron Lanier）在20世纪80年代初提出的。
                其具体内涵是：综合利用计算机图形系统和各种现实及控制等接口设备，在计算机上生成的、可交互的三维环境中提供沉浸感觉的技术。
                其中，计算机生成的、可交互的三维环境成为虚拟环境（即Virtual Environment，简称VE）。
                虚拟现实技术实现的载体是虚拟现实仿真平台，即（Virtual Reality Platform，简称VRP）。</p>
            <p><a class="btn btn-success" href="#" role="button">阅读更多..</a></p>
        </div>
    </div>
<!--    </div>
</div>-->

</block>
<block name="script"></block>